<% if flash[:errors_array] %>
  <% flash[:errors_array].each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<%= form_for @movie do |f| %>

  <%= f.label :title  %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :genre %>
  <%= f.text_field :genre %>
  <br>  
  <%= f.label :release_date %>
  <%= f.number_field :release_date %>
  <br>

  <%= f.submit %>
<% end %>
